<header>
  <div class="container">
    <a routerLink="/" class="logo">OnlyMeals</a>
    <nav>
      <ul>
        <li *ngIf="!isAuth">
          <a routerLink="/login">Login</a>
        </li>
        <li *ngIf="isAuth" class="menu-container">
          <a routerLink="/dashboard">{{user.name}}</a>
          <div class="menu">
            <a routerLink="/profile">profile</a>
            <a routerLink="/order">Order</a>
            <a (click)="logout()">Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page">Cart <span *ngIf="cartQunatity">{{cartQunatity}}</span></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
