<div class="container">
  <div class="details">
    <app-title title="Login"></app-title>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <div class="input-container">
        <label for="email">Email</label>
        <div>
          <input type="email" placeholder="abc@gmail.com" formControlName="email">
        </div>
        <div class="error-list" *ngIf="fc.email.errors && isSubmited">
          <div *ngIf="fc.email.errors.required">Should not be empty!</div>
          <div *ngIf="fc.email.errors.email">Email is not correct</div>
        </div>
      </div>
      <div class="input-container">
        <label for="password">password</label>
        <div>
          <input type="password" placeholder="********" formControlName="password">
        </div>
        <div class="error-list" *ngIf="fc.password.errors && isSubmited">
          <div *ngIf="fc.password.errors.required">Should not be empty!</div>
        </div>
      </div>
      <div class="button">
        <button type="submit">Login</button>
      </div>

    </form>

  </div>
</div>
