div{
  display: flex;
  justify-content:center;
  margin-top: 3rem;
  margin-top: 1.5rem;
}
input{
  border:none;
  height: 3rem;
  border-radius: 10rem 0 0 10rem;
  width: 30rem;
  background-color: #f1f1f1;
  padding: 1.2rem;
  font-size: 1.5rem;
  font-weight: bold;
  outline: none;
}
div button{
  height: 3rem;
  width: 8rem;
  color: gray;
  font-size: 1.5rem;
  border-radius: 0 10rem 10rem 0;
  border:none;
  background-color: #e72929;
  color: white;
  opacity: 0.8;
  outline: none;
}
div button:hover{
  cursor: pointer;
  opacity: 1;
}
